__pycache__/
*.pyc
*.ckpt
*.pth
*.pt
.ipynb_checkpoints/
.DS_Store
output/
data/
.env
training_cell.txt
chxpln_data/
loss_values_latest.txt
make_video.py
prompts_to_try.txt
svg_data_folder_converted/
video_instructions.txt
svg_data_folder_svgs/
result.png
generate_diverse_data.py
generate_diverse_data_v2.py
loss_values.txt
updated_data/
